/* Coolors Exported Palette - coolors.co/000000-839788-eee0cb-baa898-d9dee2 */

/* HSL */
$color1: hsla(0%, 0%, 0%, 1);
$color2: hsla(135%, 9%, 55%, 1);
$color3: hsla(36%, 51%, 86%, 1);
$color4: hsla(28%, 20%, 66%, 1);
$color5: hsla(207%, 13%, 87%, 1);

/* RGB */
$color1: rgba(0, 0, 0, 1);
$color2: rgba(131, 151, 136, 1);
$color3: rgba(238, 224, 203, 1);
$color4: rgba(186, 168, 152, 1);
$color5: rgba(217, 222, 226, 1);